  .microscope{
    position: relative;
    display: inline-block;
    width: 525px;
    height: 525px;
    background-color: rgba(37, 149, 190, 0.292);
    border: 15px solid purple;
    border-radius: 60px;
  }
  
  .base {
    position: absolute;
    width: 185px;
    top: 353px;
    left: 130px;
  }

  .arm {
    position: absolute;
    width: 288px;
    top: 190px;
    left: 138px;
  }
  .bodytube {
    position: absolute;
    height: 185px;
    top: 101px;
    left: 212px;
  }

  .eyepiece-tube {
    position: absolute;
    width: 105px;
    top: 37px;
    left: 322px;
  }

  .stage-clips{
    position: absolute;
    width: 168px;
    top: 265px;
    left: 92px;
  }

  .nosepiece {
    position: absolute;
    width: 142px;
    left: 177px;
    top: 206px;
  }

  .coarse-focus {
    position: absolute;
    width: 97px;
    left: 285px;
    top: 162px;
  }

  .fine-focus {
    position: absolute;
    width: 54px;
    left: 294px;
    top: 222px;
  }

  .arm-joint {
    position: absolute;
    width: 64px;
    left: 232px;
    top: 409px;
  }


 .illumination-mirror {
    position: absolute;
    width: 91px;
    top: 357px;
    left: 113px;
  }

  .base:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px yellowgreen);
    transform: scale(1.1);
  }
  .arm:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px yellowgreen);
    transform: scale(1.1);
  }
  .bodytube:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px yellowgreen);
    transform: scale(1.1);
  }

  .eyepiece-tube:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px yellowgreen);
    transform: scale(1.1);
  }

  .stage-clips:hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px yellowgreen);
    transform: scale(1.1);
  }

  .nosepiece:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px yellowgreen);
    transform: scale(1.1);
  }

  .coarse-focus:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px yellowgreen);
    transform: scale(1.1);
  }

  .fine-focus:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px yellowgreen);
    transform: scale(1.1);
  }

  .arm-joint:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px yellowgreen);
    transform: scale(1.1);
  }


 .illumination-mirror:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px yellowgreen);
    transform: scale(1.1);
  }
